
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(to bottom, rgb(131, 131, 236), rgb(129, 221, 129))
}

h1, h2, h3 {
    color: #333;
}


nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

nav ul li a:hover {
    text-decoration: underline;
}


.title {
    text-align: center;
    margin-top: 50px;
}

.company-images {
    text-align: center;
    margin: 30px 0;
}

.company-images img {
    width: 150px;
    margin: 0 10px;
}

.overview-text {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    max-width: 80%;
    margin: 0 auto;
}

.news {
    text-align: center;
    margin-top: 40px;
}

.video-container iframe {
    margin: 10px;
}

.portfolio ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

.portfolio li {
    margin-bottom: 15px;
}


.history {
    text-align: center;
    margin-top: 40px;
}

.history-images img {
    width: 400px;
    margin: 0 20px;
}

.financials {
    margin-top: 50px;
    text-align: center;
}

.tabletext {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.tabletext th, .tabletext td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.bottext {
    font-size: 24px;
    margin-bottom: 20px;
}



.about-title {
    text-align: center;
    margin-top: 50px;
}

.board-of-directors {
    text-align: center;
    margin-top: 40px;
}

.directors-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.director {
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.director img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 10px;
    object-fit: cover;
}

.director p {
    font-size: 16px;
    color: #333;
}

.portfolio-title {
    text-align: center;
    margin-top: 50px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.industry {
    width: 250px;
    margin: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.industry h2 {
    font-size: 22px;
    color: #333;
}

.industry ul {
    list-style-type: none;
    padding: 0;
}

.industry ul li {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.form-container {
    text-align: center;
    padding-top: 30px;

}


